<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cs4280asg2.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>cs4280asg2.MovieServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CinemaHouseServlet</servlet-name>
        <servlet-class>cs4280asg2.CinemaHouseServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>cs4280asg2.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseSizeServlet</servlet-name>
        <servlet-class>cs4280asg2.HouseSizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBuyServlet</servlet-name>
        <servlet-class>cs4280asg2.ConfirmBuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>cs4280asg2.BuyTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorServlet</servlet-name>
        <servlet-class>cs4280asg2.DirectorServlet</servlet-class>
        <load-on-startup>30</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CastingServlet</servlet-name>
        <servlet-class>cs4280asg2.CastingServlet</servlet-class>
        <load-on-startup>40</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddSectionServlet</servlet-name>
        <servlet-class>cs4280asg2.AddSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSectionServlet</servlet-name>
        <servlet-class>cs4280asg2.ManageSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifySectionServlet</servlet-name>
        <servlet-class>cs4280asg2.ModifySectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacancyServlet</servlet-name>
        <servlet-class>cs4280asg2.VacancyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatServlet</servlet-name>
        <servlet-class>cs4280asg2.StatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTransServlet</servlet-name>
        <servlet-class>cs4280asg2.MyTransServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundRequestServlet</servlet-name>
        <servlet-class>cs4280asg2.RefundRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>cs4280asg2.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRefundServlet</servlet-name>
        <servlet-class>cs4280asg2.AuthRefundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcRefundServlet</servlet-name>
        <servlet-class>cs4280asg2.ProcRefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/Movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaHouseServlet</servlet-name>
        <url-pattern>/CinemaHouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseSizeServlet</servlet-name>
        <url-pattern>/HouseSizeBySectID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBuyServlet</servlet-name>
        <url-pattern>/ConfirmBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/BuyTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorServlet</servlet-name>
        <url-pattern>/Director</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CastingServlet</servlet-name>
        <url-pattern>/Casting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSectionServlet</servlet-name>
        <url-pattern>/AddSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSectionServlet</servlet-name>
        <url-pattern>/ManageSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifySectionServlet</servlet-name>
        <url-pattern>/ModifySection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacancyServlet</servlet-name>
        <url-pattern>/Vacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatServlet</servlet-name>
        <url-pattern>/Stat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTransServlet</servlet-name>
        <url-pattern>/MyTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundRequestServlet</servlet-name>
        <url-pattern>/RefundRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRefundServlet</servlet-name>
        <url-pattern>/AuthRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcRefundServlet</servlet-name>
        <url-pattern>/ProcRefund</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Microsoft SQL Server Connection</description>
        <res-ref-name>jdbc/ticketing_system</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
