/* 
    Document   : booking
    Created on : Apr 25, 2013, 3:46:04 PM
    Author     : Siuyan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#movie-detail{
	margin-left:20px;
}

.button2{
	float:right;
	margin-right:30px;
}


span{
	font-weight:bold;
}

th{
	background:#CCC;
	width:150px;
}

td{
	width:250px;
	text-align:center;
	background:#F3F3F3;
}

#movie-confirm,#movie-booking{
	margin:50px 0px 0px 180px;
}

form[name=movie-booking]{
    margin-left: 330px;

}