/* 
    Document   : booking
    Created on : Apr 25, 2013, 3:46:04 PM
    Author     : Siuyan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


form[name=book] label{
    display: inline-block;
    color:#1e7c9a;
    font-weight: bold;    
    text-align: left;
    width:80px;
}



form[name=book] select{
    width:140px;
}


form[name=book] select{
    width:auto;
}

form[name=book] input{
    width:230px;
}

form[name=book] .bookbutton{
    margin-left: 700px;
    width:auto !important;
}

.seatingplan input{
    width: auto !important;
}

#confirm th{
    width:150px;
    background-color: #CCC;
    color:#FFF;
}

#confirm td{
    width:200px;
    color:#3b3b3b;
    background-color: #F3F3F3;
    text-align: center;
}

caption{
    background-color: #0597B6;
    padding: 5px 0px 5px 0px;
    color:#FFFFFF;
    margin-bottom: 5px;
}

#movie-booking{
    text-align: center;
}

#confirm{
    margin-left: 200px;
}