/* 
    Document   : booking
    Created on : Apr 25, 2013, 3:46:04 PM
    Author     : Siuyan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


th{
	background:#CCC;
	width:160px;
}

td{
	width:280px;
	text-align:center;
	background:#F3F3F3;
}

#movie-confirm,#movie-booking{
	margin:50px 0px 0px 170px;
}

form[name=movie-booking] input{
    margin-left: 330px;
}

form[name=movie-booking] label{
    font-weight: bold;
}