/* 
    Document   : common
    Created on : Apr 24, 2013, 7:04:21 PM
    Author     : PCHC
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
	font-family:arial, helvetica, sans-serif;
}

body, html {
	margin:0;
	padding:0;
}

h1{
	color:#FFFFFF;
	font-weight:bold;
}

h2{
	font-size: 15px;
	color:#FFF;
	width:200px;
	background-color:#09C;
	text-align:center;
	height:25px;
	vertical-align:central;
}

h3{
	font-size: 10px;
	color:#666;
	margin-left:10px;
	font-weight:lighter;
        margin: 0px 30px 0px 20px;
        border-bottom:  1px solid #CCC;               
}

h4{
	font-size: 15px;
	color:#000;
	margin-left:10px;
        margin: 0px 20px 10px 30px;
        text-align: center;
               
}

h5 {  
	font-size: 30px;
	color:#078DB4;
	margin:10px;
	margin-left:15px;
	text-align:left;
	border-bottom:2px solid #078DB4;
}

h6{
	background:#0597B6;
	font-size:24px;
	color:#FFF;
	margin-top:5px;
	margin-bottom:10px;
	text-align:center;
}
#header-main{
	background-image:url(../image/bg2.jpg);
	background-position:top center;
	width:100%;
}

#header{
	width: 1000px;
	margin: auto;
	height:150px;
	background-image:url(../image/bg.jpg);
}

#header p{
	color:#FFFFFF;
	font-size:10px;
}
#nav ul
{
list-style-type:none;
margin:0;
padding:0;

} 

#nav a
{
display:block;
width:60px;
}

#nav li a{
	font-size: 15px;
	color:#FFF;
	width:200px;
	background-color:#09C;
	text-align:center;
	height:25px;
	vertical-align:central;
	margin-bottom:10px;
	margin-left:5px;
	text-decoration:none;
}

#nav ul li a:hover {
	background: #3b3b3b;
}

#nav li:hover ul {
	display: block;
	position: absolute;
}

#nav li:hover li {
	float: none;
	font-size: 11px;
}
nav li:hover a { 
	background: #3b3b3b; }

#nav li:hover li a:hover {
	background: #1e7c9a;
} 

#header-nav{
	height:auto;
	background-color:#0597B6;
	margin: auto;
}

#header-nav-inner{
	background-color:#0597B6;
	width: 1000px;
	margin: auto;
	height:inherit;
}


#header-nav li {
	display:inline;
	padding:0;
	margin:2px;
	text-align:center;
}

#header-nav a:link,
#header-nav a:visited {
	color:#FFF;
	text-align:center;
}


#header-nav-inner ul {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav-inner ul li {
	display: block;
	position: relative;
	float: left;
}

#header-nav-inner li ul {
	display: none;
}

#header-nav-inner ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding:0;
	margin: 0px;
	width:100px;
}

#header-nav-inner ul li a:hover {
	background: #3b3b3b;
}

#header-nav-inner li:hover ul {
	display: block;
	position: absolute;
}

#header-nav-inner li:hover li {
	float: none;
	font-size: 11px;
}

#header-nav-inner li:hover a { 
	background: #3b3b3b; }

#header-nav-inner li:hover li a:hover {
	background: #1e7c9a;
} 


#language{
	text-align:right;
	font-family:arial, helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
}

#content2{
	background-color:#FFF;
	width: 1000px;
	margin: auto;
	height: auto;
}

#content-left{
	float:left;
	background-color:#FFF;
	height:inherit;
}

#content-right{
	
	width:77%;
	background-color:#FFF;
	height:inherit;
	padding-left: 23%;
}

#footer {
	background:#0597B6;
	text-align:left;
	color:#FFF;
	clear:both;
}

#footer-inner{
	width: 1000px;
	margin: auto;
	color:#FFFFFF;
	font-size: 10px;
}
