/* 
    Document   : management
    Created on : Apr 26, 2013, 9:45:22 PM
    Author     : Siuyan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
form[name=movie-man] input{
    width:150px;
}

form[name=movie-man] label, form[name=seating-man] label{
    color: #0597B6;
    font-weight: bold;
    width: 100px;    
}

hr{
    width:500px;
    text-align: center;
    color: #09C;
}

p{
    text-align: center;
}

.seating-management input{
    width:auto;
    margin: 0px 0px 30px 550px;
}

h4{    
    background-color: #1e7c9a;
    color:#FFF;
    margin-top:20px;
}

th{
	background:#CCC;
	width:160px;
}

td{
	width:280px;
	text-align:center;
	background:#F3F3F3;
}

table{
    margin-left: 100px;
    margin-bottom: 50px;
}

#title{
    background-color: #666;
    color:#FFF;
}

.movie-management,.seating-management{
    border-bottom: 3px solid #1e7c9a;
    padding: 10px;
    margin: 10px;
}