/* 
    Document   : booking
    Created on : Apr 25, 2013, 3:46:04 PM
    Author     : Siuyan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


span{
	font-weight:bold;
}

th{
	background:#CCC;
	width:150px;
}

td{
	width:250px;
	text-align:center;
	background:#F3F3F3;
}

#transaction{
    margin-left: 200px;
}